@charset "UTF-8";

body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
}

h2{
    color: rgb(51, 77, 49);
}

h2.titulos{
    text-align: right;
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}